.first {
    width: 650px;
    margin: 0 auto;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: pink
}
.btn{
    background-color: #251c79;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;;
}
.input_1{
    display: inline-block;
    width: 400px;
    line-height: 1.5;



}
h3
{
    font-weight: normal;
    font-size: 100%;
    color:blue

}
